<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" autocomplete="email"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="f.email.touched && f.email.invalid">Valid email required</ion-note>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password" autocomplete="current-password"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="f.password.touched && f.password.invalid">Min 6 characters</ion-note>

      <ion-item lines="none">
        <ion-button type="submit" expand="block" [disabled]="loading()">Login</ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-button fill="clear" size="small" (click)="goToRegister()">Need an account? Register</ion-button>
      </ion-item>
      <ion-item lines="none" *ngIf="loading()">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-item>
      <ion-item lines="none" *ngIf="error()">
        <ion-note color="danger">{{ error() }}</ion-note>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
